<%= render "components/dashboard_window" do %>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Months</h1>
    <%= render partial: "components/standard_button", locals: { message: 'New month', path: new_team_month_path } %>
  </div>

  <div id="months" class="min-w-full">
    <% @months.each do |month| %>
      <%= link_to month.month.strftime('%B %Y'), month, class: "font-bold" %>
    <% end %>
  </div>
<% end %>
